/*.preloader {
    background: url('../../img/bg/grass.svg') no-repeat center bottom, linear-gradient(#045c71, #477478);
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    z-index: 99999;
    overflow: none;
}*/